<div style="padding-top: 10%">
<h2>修改密码</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => 'form-horizontal', :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "新密码", :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => "确认", :required => true %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2">
      <%= f.button :submit, "修改", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
