<%- model_class = Wiki -%>
<div class="nav-tabs">
  <%= render :partial => "common/project_module_tabs", :locals => {:tab_name => 'wikis'} %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:author_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= link_to wiki.id, wiki_path(wiki) %></td>
        <td><%= wiki.subject %></td>
        <td><%= wiki.content %></td>
        <td><%= wiki.parent_id %></td>
        <td><%= wiki.project_id %></td>
        <td><%= wiki.author_id %></td>
        <td><%=l wiki.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_wiki_path(wiki), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      wiki_path(wiki),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_project_wiki_path(@project),
            :class => 'btn btn-primary' %>
