<%- model_class = Wiki -%>
<div class="nav-tabs">
  <%= render :partial => "common/project_module_tabs", :locals => {:tab_name => 'wikis'} %>
</div>
<br/>
<div class="panel panel-primary">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name :author %></strong></dt>
      <dd>
        <span class="label label-primary"><%= @wiki.author.name %></span>
      </dd>
      <br/>
      <dt><strong><%= model_class.human_attribute_name :contributors %></strong></dt>
      <dd>
        <% @wiki.contributors.each do |c| %>
        <span class="label label-default"><%= c.name %></span>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="min-height: 800px">
    <%= markdown(@wiki.content) %>
  </div>
</div>


<div class="modal fade" id="wiki_tree_modal" tabindex="-1" role="dialog" aria-labelledby="wiki_tree_modal_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="new_time_entry_modal_title">Wiki 树</h4>
          </div>
          <div class="modal-body">
            <div class="tree well">
              <ul>
                <%= wiki_tree_html(Wiki.find @project.root_wiki_id).html_safe %>
              </ul>
            </div>

            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%= link_to t('.edit', :default => t("helpers.links.edit")),
              project_edit_wiki_path(@project, @wiki), :class => 'btn btn-default' %>

<%= link_to '显示 Wiki 树', '', :class => 'btn btn-success', :data => {:toggle => 'modal', :target => '#wiki_tree_modal'} %>

<%= link_to t('.destroy', :default => t('helpers.links.destroy')),
              project_wiki_path(@project, @wiki), :method => :delete, :data => {:confirm => '确定要删除吗？'}, :class => 'btn btn-danger' %>